# supervisely==6.72.111
git+https://github.com/supervisely/supervisely.git@inference-gui-model-info-hotfix
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117